.leaf {
    height: 150px; 
    border: 1px solid red;
    margin: 5px;
}

.p-treetable-unfrozen-view .leaf{
    margin-top: 26px;
}

.no-resize span.p-column-resizer.p-clickable {
    display: none;
}