.list-view-parent {
  display: flex;
  flex-direction: row;
}

.list-view-parent .list-view-grid {
  width: 70%;
  margin-right: 20px;
}

.list-view-parent .list-view-nav {
  width: 30%;
}

.list-view-parent .p-tree {
  width: 100%;
}

.wj-flexgrid {
  max-height: 450px !important;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 0;
}

.wj-cell.wj-header {
  background: #F5F5F5;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.5;
  vertical-align: middle;
  text-align: center;
  padding: 6px 4px;
}

.wj-cell.wj-group {
  border: none !important;
  border-bottom: 1px solid #e1e1e1 !important;
  border-right: 1px solid #e1e1e1 !important;
  background: white !important;
}

.wj-cell.wj-frozen-col {
  box-shadow: 10px 0 5px -2px #888;
  border-right: 1px solid #e1e1e1 !important;
}

.wj-cells .wj-cell.wj-state-selected {
  background: #e1e1e1;
  color: black;
}

.wj-cells .wj-cell.wj-state-multi-selected {
  background: #e1e1e1;
  color: black;
}

.wj-cell.product-cell {
  padding: 25px !important;
  vertical-align: top;
}

.column-picker {
  columns: 1;
  padding: 12px;
  margin-left: 12px;
  margin-top: 26px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.column-picker-icon {
  cursor: pointer;
  margin: 2rem 0 1rem 0rem;
}

.column-picker-div {
  display: none;
}


.demo a:hover {
  opacity: .5;
}

#section04 a {
  padding-top: 60px;
}

#section04 a span {
  position: absolute;
  bottom: 20px;
  left: 40%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
  z-index: 10;
}

#section03 a {
  padding-top: 60px;
}

#section03 a span {
  position: absolute;
  top: 50px;
  left: 40%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
  z-index: 10;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

