.list-view-grid {
  width: 96vw;
}

.wj-flexgrid {
  height: 545px !important;
  border: none;
}

.wj-cell.wj-header {
  background: #F5F5F5;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.5;
  vertical-align: middle;
  text-align: center;
  padding: 6px 4px;
}

.wj-cell.wj-group {
  border: none !important;
  border-bottom: 1px solid #e1e1e1 !important;
  border-right: 1px solid #e1e1e1 !important;
  background: white !important;
}

.wj-cell.wj-frozen-col {
  box-shadow: 10px 0 5px -2px #888;
  border-right: 1px solid #e1e1e1 !important;
}

.wj-cells .wj-cell.wj-state-selected {
  background: #e1e1e1;
  color: black;
}

.wj-cells .wj-cell.wj-state-multi-selected {
  background: #e1e1e1;
  color: black;
}

.wj-cell.product-cell {
  padding: 25px !important;
  vertical-align: top;
}

.column-picker {
  columns: 1;
  padding: 12px;
  margin-left: 12px;
  margin-top: 26px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.column-picker-icon {
  cursor: pointer;
  margin: 2rem 0 1rem 0rem;
}

.column-picker-div {
  display: none;
}

.round {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  position: fixed;
  z-index: 10;
  font-size: 12px;
  border-radius: 20%;
  right: -2px;
  margin: 0px;
  background-color: #424242;
  color: white;
}

.previous {
  top: 45%
}

.next {
  top: 55%
}

.blink_me i {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { 
    opacity: 0; 
  }
}
