.wj-flexgrid {
  max-height: 450px !important;
  margin: 2rem;
  margin-bottom: 0;
}

.column-picker {
  columns: 1;
  padding: 12px;
  margin-left: 12px;
  margin-top: 26px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.column-picker-icon {
  cursor: pointer;
  margin: 2rem 0 0 1rem;
}

.column-picker-div {
  display: none;
}